<div class="row">
    <div class="col-md-12 text-center"><h1>Add a Chef!</h1></div>
</div>
<div class="row">
    <div class="col-md-12"><a href="/">Home</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary()
    </div>
</div>
@model Chef
<form action="/new" method="POST">
    <div class="row">
        <div class="col-md-6">
            First Name<br/>
            <input asp-for="FirstName" />
        </div>
        <div class="col-md-6">
            Date of Birth<br/>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input asp-for="DateOfBirth" class="form-control" /> 
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Last Name<br/>
            <input asp-for="LastName" />
        </div>
        <div class="col-md-6">
            <input type="submit" value="Add Chef" />
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>